@font-face {
    src: url('../fonts/intelone-mono/intelone-mono-font-family-regular.ttf');
}

/* Define level colors */
.root {
    trace: darkgray;
    debug: cornflowerblue;
    warn: darkorange;
    error: crimson;
}

/* Buttons to show/hide log levels */
.displayed-log-levels .toggle-button {
    -fx-font-size: 10;
}

/* Minimum level button */
.minimum-log-level {
    -fx-font-size: 10;
}

/* Table cells */
.table-cell {
    -fx-alignment: center;
    -fx-font-family: "IntelOne Mono";
    -fx-padding: 2 5 2 5;
}
.col-message.table-cell {
    -fx-alignment: center-left;
}

/* Log level icons */
.log-level.trace {
    -fx-stroke: trace;
    -fx-stroke-width: 2;
    -fx-stroke-type: inside;
    -fx-fill: none;
}
.log-level.debug {
    -fx-fill: debug;
}
.log-level.info {
    -fx-fill: none;
}
.log-level.warn {
    -fx-fill: warn;
}
.log-level.error {
    -fx-fill: error;
}

/* Text in table */
.error {
    -fx-text-fill: error;
}

/* Default log table styling */
.log-table {
    -fx-font-size: 90%;
}

/* Text area */
.textAreaLog {
    -fx-font-family: "IntelOne Mono";
}

/* Text in table / bottom counter */
.error-counter {
    -fx-text-fill: error;
}

/* Bottom counter */
.warn-counter {
    -fx-text-fill: warn;
}

/* Copy button */
.copy-button {
    -fx-font-size: 10;
}