.log-level.info {
    -fx-fill: none;
}

.log-level.debug {
    -fx-fill: cornflowerblue;
}

.log-level.trace {
    -fx-stroke: darkgray;
    -fx-stroke-width: 2;
    -fx-stroke-type: inside;
    -fx-fill: none;
}

.log-level.error {
    -fx-fill: crimson;
}

.log-level.warn {
    -fx-fill: gold;
}

.table-cell {
    -fx-alignment: center;
}

.col-message.table-cell {
    -fx-alignment: center-left;
}

.displayed-log-levels .toggle-button {
    -fx-font-size: 10;
}